.App {
  background-color: black;
  padding: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}


.todo-list{
  width: 600px;
  
}

.todo-value{
    background-color: #333;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    padding: 5px;
    color: aliceblue;
    height: 48px;
    margin-top: 16px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
}

.todo-value:hover .remove{
  display: block;
}

.remove{
  display: none ;
}
